<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">OSIET SERVICE</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column h-100">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/soins" Match="NavLinkMatch.All">
                <span class="fa fa-medkit fa-lg mr-3" aria-hidden="true"></span> Soins
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/rapport_soins">
                <span class="oi oi-briefcase" aria-hidden="true"></span> Consultaation soins
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/rapport_soin">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Rapport
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}