@using Blazored.Toast
@using LYRA.Controllers.ControllerSecretaire
@using LYRA.Models
@inject IAffiliationService affiliService
@inject Radzen.NotificationService notificationService

<RadzenNotification />
<MudDialog>
    <TitleContent>
        <MudText Typo="Typo.h6">
            @* <MudIcon Class="mr-3" /> *@
            Générateur de QR Code.<br/>
            <MudText Typo="Typo.caption" Class="ml-1" Inline="true">
                <i>Ce code est unique pour @famille.Nom @famille.Prenom</i>
            </MudText>
        </MudText>
    </TitleContent>
    <DialogContent>
        <div style="text-align: center;">
            <Blazorise.QRCode.QRCode Value="@value" Alt="QRCode image" />
        </div>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">Fermer</MudButton>
    </DialogActions>
</MudDialog>
@code {
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }
    [Parameter] public Famille? famille { get; set; }
    NotificationMessage notification = new();
    ToastParameters? _toastParameters;
    private String value = "";

    protected override async Task OnInitializedAsync()
    {
        value = "f_" + famille.Familleid + "_" + famille.Numeroosiet;
    }

    void Cancel() => MudDialog.Cancel();
}
