<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">OSIET SERVICE</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column h-100">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/adhesion">
                <i class="oi oi-briefcase" aria-hidden="true"></i> Adhesion Flex
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/affiliation" Match="NavLinkMatch.All">
                <span class="oi oi-person" aria-hidden="true"></span> Affiliation
            </NavLink>
        </div>
       @* <div class="nav-item px-3">
            <NavLink class="nav-link"  href="/cotisation">
                <span class="oi oi-dollar" aria-hidden="true"></span> Cotisation
            </NavLink>
        </div>*@
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}