<div class="mt-4">
    <h1 class="text-success text-center">
        PLATEFORME D'OSIET
    </h1>

    <h4 class="text-dark text-center">
        Des travaux sont encours
    </h4>

    <div class="d-flex justify-content-center">
        <div class="fas fa-spinner fa-spin fa-2x mr-2"></div>
        <br />
        <span class="mt-2">Veuillez patientez, SVP... </span>
    </div>
</div>